.container {
  max-width: 800px;
  margin: 50px auto;
}

.pageTitle {
  font-size: 200%;
  font-weight: bold;
  color: deepskyblue;
  text-align: center;
  padding-bottom: 20px;
}

.section {
  padding: 10px;
  margin-top: 10px;
}

.sectionTitle {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 15px;
}

.sectionBody {
  display: flex;
  gap: 20px;
}

.codeSnippet {
  margin-top: 15px;
}

.code {
  font-family: "Courier New", Courier, monospace;
  color: darkolivegreen;
}

.btnRoot {
  background-image: linear-gradient(to right, #4ade80, #3b82f6);
  border-color: transparent;
  background-clip: padding-box;
  border-radius: 0.42rem;
}

.btnRoot:hover {
  background-image: linear-gradient(to right, #ec4899, #eab308);
}

.btnContent {
  padding-left: 10px;
}

.btnIcon {
  font-size: 100%;
}
