/*
 * Default theme: https://github.com/baadal/baadal-ui/blob/main/src/theme/default.scss
 */

:root {
  --primary-color: rgb(147, 51, 234);
  --primary-color-hover: rgb(126, 34, 206);
  --primary-color-dim: rgb(250, 245, 255);
  --primary-color-bg: var(--primary-color);
  --primary-color-border: var(--primary-color);
  --primary-color-text: var(--primary-color);

  --secondary-color: rgb(2, 132, 199);
  --secondary-color-hover: rgb(3, 105, 161);
  --secondary-color-dim: rgb(240, 249, 255);
  --secondary-color-bg: var(--secondary-color);
  --secondary-color-border: var(--secondary-color);
  --secondary-color-text: var(--secondary-color);

  --contrast-color-light: rgb(243, 244, 246);
  --contrast-color-dark: rgb(30, 41, 59);

  --transition-duration: 150ms;
}
